* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    font-style: normal;
}

.italic {

    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    font-style: italic;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 150%;
    font-weight: 200;
    font-size: 14px;
    color: black;

}

h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 46px;
    font-weight: 600;

}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h3 {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}


main {

    max-width: 1300px;
    margin: 0 auto;
    padding: 48px;
}

section {
    display: flex;
    align-items: center;
    max-width: 1300px;
    margin: 0 auto;
}

section .firstcontainer {

    display: flex;
    background-color: #eecf39;


}

section .firstcontainer article {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 350px;
    padding: 32px;

}


img {
    width: 100%
}

section .secondcontainer {
    padding: 24px;

}

section .secondcontainer .sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    max-width: 280px;
    padding: 24px;

}